/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arr22-name: 'arr22';
$arr22-x: 1504px;
$arr22-y: 465px;
$arr22-offset-x: -1504px;
$arr22-offset-y: -465px;
$arr22-width: 18px;
$arr22-height: 15px;
$arr22-total-width: 1755px;
$arr22-total-height: 1174px;
$arr22-image: '../img/sprite.png';
$arr22: (1504px, 465px, -1504px, -465px, 18px, 15px, 1755px, 1174px, '../img/sprite.png', 'arr22', );
$ellipsecopy-name: 'ellipsecopy';
$ellipsecopy-x: 1290px;
$ellipsecopy-y: 420px;
$ellipsecopy-offset-x: -1290px;
$ellipsecopy-offset-y: -420px;
$ellipsecopy-width: 139px;
$ellipsecopy-height: 139px;
$ellipsecopy-total-width: 1755px;
$ellipsecopy-total-height: 1174px;
$ellipsecopy-image: '../img/sprite.png';
$ellipsecopy: (1290px, 420px, -1290px, -420px, 139px, 139px, 1755px, 1174px, '../img/sprite.png', 'ellipsecopy', );
$ellipsethreecopythree-name: 'ellipsethreecopythree';
$ellipsethreecopythree-x: 1568px;
$ellipsethreecopythree-y: 281px;
$ellipsethreecopythree-offset-x: -1568px;
$ellipsethreecopythree-offset-y: -281px;
$ellipsethreecopythree-width: 139px;
$ellipsethreecopythree-height: 139px;
$ellipsethreecopythree-total-width: 1755px;
$ellipsethreecopythree-total-height: 1174px;
$ellipsethreecopythree-image: '../img/sprite.png';
$ellipsethreecopythree: (1568px, 281px, -1568px, -281px, 139px, 139px, 1755px, 1174px, '../img/sprite.png', 'ellipsethreecopythree', );
$ellipsethreecopytwo-name: 'ellipsethreecopytwo';
$ellipsethreecopytwo-x: 1290px;
$ellipsethreecopytwo-y: 281px;
$ellipsethreecopytwo-offset-x: -1290px;
$ellipsethreecopytwo-offset-y: -281px;
$ellipsethreecopytwo-width: 139px;
$ellipsethreecopytwo-height: 139px;
$ellipsethreecopytwo-total-width: 1755px;
$ellipsethreecopytwo-total-height: 1174px;
$ellipsethreecopytwo-image: '../img/sprite.png';
$ellipsethreecopytwo: (1290px, 281px, -1290px, -281px, 139px, 139px, 1755px, 1174px, '../img/sprite.png', 'ellipsethreecopytwo', );
$facebook-name: 'facebook';
$facebook-x: 1504px;
$facebook-y: 420px;
$facebook-offset-x: -1504px;
$facebook-offset-y: -420px;
$facebook-width: 44px;
$facebook-height: 45px;
$facebook-total-width: 1755px;
$facebook-total-height: 1174px;
$facebook-image: '../img/sprite.png';
$facebook: (1504px, 420px, -1504px, -420px, 44px, 45px, 1755px, 1174px, '../img/sprite.png', 'facebook', );
$gearsnroses-name: 'gearsnroses';
$gearsnroses-x: 1290px;
$gearsnroses-y: 230px;
$gearsnroses-offset-x: -1290px;
$gearsnroses-offset-y: -230px;
$gearsnroses-width: 419px;
$gearsnroses-height: 51px;
$gearsnroses-total-width: 1755px;
$gearsnroses-total-height: 1174px;
$gearsnroses-image: '../img/sprite.png';
$gearsnroses: (1290px, 230px, -1290px, -230px, 419px, 51px, 1755px, 1174px, '../img/sprite.png', 'gearsnroses', );
$gplus-name: 'gplus';
$gplus-x: 1707px;
$gplus-y: 371px;
$gplus-offset-x: -1707px;
$gplus-offset-y: -371px;
$gplus-width: 44px;
$gplus-height: 45px;
$gplus-total-width: 1755px;
$gplus-total-height: 1174px;
$gplus-image: '../img/sprite.png';
$gplus: (1707px, 371px, -1707px, -371px, 44px, 45px, 1755px, 1174px, '../img/sprite.png', 'gplus', );
$img-thing9-name: 'img_thing9';
$img-thing9-x: 0px;
$img-thing9-y: 0px;
$img-thing9-offset-x: 0px;
$img-thing9-offset-y: 0px;
$img-thing9-width: 1290px;
$img-thing9-height: 559px;
$img-thing9-total-width: 1755px;
$img-thing9-total-height: 1174px;
$img-thing9-image: '../img/sprite.png';
$img-thing9: (0px, 0px, 0px, 0px, 1290px, 559px, 1755px, 1174px, '../img/sprite.png', 'img_thing9', );
$left-arr-name: 'left_arr';
$left-arr-x: 1548px;
$left-arr-y: 420px;
$left-arr-offset-x: -1548px;
$left-arr-offset-y: -420px;
$left-arr-width: 57px;
$left-arr-height: 32px;
$left-arr-total-width: 1755px;
$left-arr-total-height: 1174px;
$left-arr-image: '../img/sprite.png';
$left-arr: (1548px, 420px, -1548px, -420px, 57px, 32px, 1755px, 1174px, '../img/sprite.png', 'left_arr', );
$lenta-name: 'lenta';
$lenta-x: 0px;
$lenta-y: 1118px;
$lenta-offset-x: 0px;
$lenta-offset-y: -1118px;
$lenta-width: 583px;
$lenta-height: 56px;
$lenta-total-width: 1755px;
$lenta-total-height: 1174px;
$lenta-image: '../img/sprite.png';
$lenta: (0px, 1118px, 0px, -1118px, 583px, 56px, 1755px, 1174px, '../img/sprite.png', 'lenta', );
$linkedin-name: 'linkedin';
$linkedin-x: 1707px;
$linkedin-y: 281px;
$linkedin-offset-x: -1707px;
$linkedin-offset-y: -281px;
$linkedin-width: 44px;
$linkedin-height: 45px;
$linkedin-total-width: 1755px;
$linkedin-total-height: 1174px;
$linkedin-image: '../img/sprite.png';
$linkedin: (1707px, 281px, -1707px, -281px, 44px, 45px, 1755px, 1174px, '../img/sprite.png', 'linkedin', );
$pagination-tocher-name: 'pagination_tocher';
$pagination-tocher-x: 1522px;
$pagination-tocher-y: 465px;
$pagination-tocher-offset-x: -1522px;
$pagination-tocher-offset-y: -465px;
$pagination-tocher-width: 13px;
$pagination-tocher-height: 13px;
$pagination-tocher-total-width: 1755px;
$pagination-tocher-total-height: 1174px;
$pagination-tocher-image: '../img/sprite.png';
$pagination-tocher: (1522px, 465px, -1522px, -465px, 13px, 13px, 1755px, 1174px, '../img/sprite.png', 'pagination_tocher', );
$phone-name: 'phone';
$phone-x: 1429px;
$phone-y: 420px;
$phone-offset-x: -1429px;
$phone-offset-y: -420px;
$phone-width: 75px;
$phone-height: 83px;
$phone-total-width: 1755px;
$phone-total-height: 1174px;
$phone-image: '../img/sprite.png';
$phone: (1429px, 420px, -1429px, -420px, 75px, 83px, 1755px, 1174px, '../img/sprite.png', 'phone', );
$pinterest-name: 'pinterest';
$pinterest-x: 1707px;
$pinterest-y: 326px;
$pinterest-offset-x: -1707px;
$pinterest-offset-y: -326px;
$pinterest-width: 44px;
$pinterest-height: 45px;
$pinterest-total-width: 1755px;
$pinterest-total-height: 1174px;
$pinterest-image: '../img/sprite.png';
$pinterest: (1707px, 326px, -1707px, -326px, 44px, 45px, 1755px, 1174px, '../img/sprite.png', 'pinterest', );
$portfolio-header-name: 'portfolio_header';
$portfolio-header-x: 1290px;
$portfolio-header-y: 0px;
$portfolio-header-offset-x: -1290px;
$portfolio-header-offset-y: 0px;
$portfolio-header-width: 465px;
$portfolio-header-height: 230px;
$portfolio-header-total-width: 1755px;
$portfolio-header-total-height: 1174px;
$portfolio-header-image: '../img/sprite.png';
$portfolio-header: (1290px, 0px, -1290px, 0px, 465px, 230px, 1755px, 1174px, '../img/sprite.png', 'portfolio_header', );
$preferences-cog-gear-name: 'preferences_cog_gear';
$preferences-cog-gear-x: 0px;
$preferences-cog-gear-y: 559px;
$preferences-cog-gear-offset-x: 0px;
$preferences-cog-gear-offset-y: -559px;
$preferences-cog-gear-width: 1290px;
$preferences-cog-gear-height: 559px;
$preferences-cog-gear-total-width: 1755px;
$preferences-cog-gear-total-height: 1174px;
$preferences-cog-gear-image: '../img/sprite.png';
$preferences-cog-gear: (0px, 559px, 0px, -559px, 1290px, 559px, 1755px, 1174px, '../img/sprite.png', 'preferences_cog_gear', );
$rectangle5-name: 'rectangle5';
$rectangle5-x: 1709px;
$rectangle5-y: 275px;
$rectangle5-offset-x: -1709px;
$rectangle5-offset-y: -275px;
$rectangle5-width: 38px;
$rectangle5-height: 2px;
$rectangle5-total-width: 1755px;
$rectangle5-total-height: 1174px;
$rectangle5-image: '../img/sprite.png';
$rectangle5: (1709px, 275px, -1709px, -275px, 38px, 2px, 1755px, 1174px, '../img/sprite.png', 'rectangle5', );
$right-arr-name: 'right_arr';
$right-arr-x: 1605px;
$right-arr-y: 420px;
$right-arr-offset-x: -1605px;
$right-arr-offset-y: -420px;
$right-arr-width: 57px;
$right-arr-height: 32px;
$right-arr-total-width: 1755px;
$right-arr-total-height: 1174px;
$right-arr-image: '../img/sprite.png';
$right-arr: (1605px, 420px, -1605px, -420px, 57px, 32px, 1755px, 1174px, '../img/sprite.png', 'right_arr', );
$scrollup-name: 'scrollup';
$scrollup-x: 1662px;
$scrollup-y: 420px;
$scrollup-offset-x: -1662px;
$scrollup-offset-y: -420px;
$scrollup-width: 30px;
$scrollup-height: 30px;
$scrollup-total-width: 1755px;
$scrollup-total-height: 1174px;
$scrollup-image: '../img/sprite.png';
$scrollup: (1662px, 420px, -1662px, -420px, 30px, 30px, 1755px, 1174px, '../img/sprite.png', 'scrollup', );
$separator-name: 'separator';
$separator-x: 1548px;
$separator-y: 452px;
$separator-offset-x: -1548px;
$separator-offset-y: -452px;
$separator-width: 120px;
$separator-height: 12px;
$separator-total-width: 1755px;
$separator-total-height: 1174px;
$separator-image: '../img/sprite.png';
$separator: (1548px, 452px, -1548px, -452px, 120px, 12px, 1755px, 1174px, '../img/sprite.png', 'separator', );
$telcircle-name: 'telcircle';
$telcircle-x: 1429px;
$telcircle-y: 281px;
$telcircle-offset-x: -1429px;
$telcircle-offset-y: -281px;
$telcircle-width: 139px;
$telcircle-height: 139px;
$telcircle-total-width: 1755px;
$telcircle-total-height: 1174px;
$telcircle-image: '../img/sprite.png';
$telcircle: (1429px, 281px, -1429px, -281px, 139px, 139px, 1755px, 1174px, '../img/sprite.png', 'telcircle', );
$twitter-name: 'twitter';
$twitter-x: 1709px;
$twitter-y: 230px;
$twitter-offset-x: -1709px;
$twitter-offset-y: -230px;
$twitter-width: 44px;
$twitter-height: 45px;
$twitter-total-width: 1755px;
$twitter-total-height: 1174px;
$twitter-image: '../img/sprite.png';
$twitter: (1709px, 230px, -1709px, -230px, 44px, 45px, 1755px, 1174px, '../img/sprite.png', 'twitter', );
$zpt-bottom-name: 'zpt_bottom';
$zpt-bottom-x: 1722px;
$zpt-bottom-y: 420px;
$zpt-bottom-offset-x: -1722px;
$zpt-bottom-offset-y: -420px;
$zpt-bottom-width: 30px;
$zpt-bottom-height: 27px;
$zpt-bottom-total-width: 1755px;
$zpt-bottom-total-height: 1174px;
$zpt-bottom-image: '../img/sprite.png';
$zpt-bottom: (1722px, 420px, -1722px, -420px, 30px, 27px, 1755px, 1174px, '../img/sprite.png', 'zpt_bottom', );
$zpt-up-name: 'zpt_up';
$zpt-up-x: 1692px;
$zpt-up-y: 420px;
$zpt-up-offset-x: -1692px;
$zpt-up-offset-y: -420px;
$zpt-up-width: 30px;
$zpt-up-height: 28px;
$zpt-up-total-width: 1755px;
$zpt-up-total-height: 1174px;
$zpt-up-image: '../img/sprite.png';
$zpt-up: (1692px, 420px, -1692px, -420px, 30px, 28px, 1755px, 1174px, '../img/sprite.png', 'zpt_up', );
$spritesheet-width: 1755px;
$spritesheet-height: 1174px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arr22, $ellipsecopy, $ellipsethreecopythree, $ellipsethreecopytwo, $facebook, $gearsnroses, $gplus, $img-thing9, $left-arr, $lenta, $linkedin, $pagination-tocher, $phone, $pinterest, $portfolio-header, $preferences-cog-gear, $rectangle5, $right-arr, $scrollup, $separator, $telcircle, $twitter, $zpt-bottom, $zpt-up, );
$spritesheet: (1755px, 1174px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
