html {
    font-family: $Oswald;
    body {
        background-image: url(../img/back_mask.png);
        background-color: darken($blackColor,10%);
        background-size: inherit;
        // background-repeat: repeat-y;
        ::-webkit-input-placeholder {
            color: $blackColor;
        }
        .h_separator {
            font-family: $robotoSlab;
            color: $whiteColor;
            font-size: 14.28px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            // line-height: 22px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
            display: block;
            margin: 0 auto;
            padding: 0 0 0 0;
            // background-image:url('../img/Separator.png');
            @include sprite($separator);
            // display: block;
            // width: 120px;
            // height: 12px;
            // margin: 0.1em auto 1.5em auto;
            // // &:before {
            // //     margin: 0 0.8em 0 0;
            // //     content: "";
            // //     width: 38px;
            // //     height: 2px;
            // //     // @include sprite($rectangle5);
            // //     display: block;
            // //     background-color: $whiteColor;
            // // }
            // // &:after {
            // //     margin: 0 0 0 0.8em;
            // //     content: "";
            // //     width: 38px;
            // //     height: 2px;
            // //     // @include sprite($rectangle5);
            // //     display: block;
            // //     background-color: $whiteColor;
            // // }
        }
        .main_wrapper {
            max-width: $mainWidt;
            width: $mainWidt;
            margin: 0 auto;
            background-color: #ccc;
            // верхнее меню и лого
            box-shadow: 1px 1px 1px;
            box-shadow: 0px 0px 90px 30px rgba(0, 0, 0, 0.9);
            .header_block {
                background-image: url(../img/top_back.png);
                height: 120px;
                position: relative;
                z-index: 2;
                .main_logo {
                    display: block;
                    margin: 0 auto;
                }
                .top_menu {
                    // font-family: $Oswald;
                    list-style: none;
                    position: absolute;
                    top: 2.2em;
                    width: 62.4%;
                    margin: 0;
                    padding: 0 243px 0 243px;
                    li {
                        display: inline-block;
                        font-size: 1.4em;
                        &:nth-child(1) {
                            // outline: 1px dotted red;
                            float: left;
                            margin: 0 71px 0 0;
                        }
                        &:nth-child(2) {
                            // outline: 1px dotted red;
                            float: left;
                        }
                        &:nth-child(3) {
                            // outline: 1px dotted red;
                            float: right;
                            margin: 0 0 0 71px;
                        }
                        &:nth-child(4) {
                            // outline: 1px dotted red;
                            float: right;
                        }
                        a {
                            text-decoration: none;
                            color: $whiteColor;
                            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .site_name {
                background-image: url(../img/Slider_section_BG.png);
                position: relative;
                top: 0;
                z-index: 1;
                height: 166px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                .gearsnroses {
                    @include sprite($gearsnroses);
                    display: block;
                    margin: 0 0 0.3em 0;
                }
                .lenta {
                    display: block;
                    @include sprite($lenta);
                }
            }
            .main_info {
                color: $whiteColor;
                height: 540px;
                background-image: url(../img/ann.png);
                position: relative;
                overflow: hidden;
                .phone_more {
                    position: absolute;
                    bottom: 54px;
                    right: 219px;
                }
                .flowers_for_ann2_back {
                    height: 1080px;
                    background-image: url(../img/flowers.png);
                    position: absolute;
                    background-size: contain;
                    top: 0;
                    left: 0!important;
                    width: 100%;
                    z-index: 1;
                    transform: translateZ(0);
                    transition: all ease .8s;
                }
                .ann2_back {
                    height: 1080px;
                    background-image: url(../img/flowers_near.png);
                    position: absolute;
                    background-size: contain;
                    top: 0;
                    left: 0!important;
                    width: 100%;
                    z-index: 2;
                    transform: translateZ(0);
                    transition: all ease .2s;
                }
                .anotation {
                    position: absolute;
                    top: 54px;
                    left: 219px;
                    display: inline-block;
                    width: 222px;
                    font-size: 17.05px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 200;
                    line-height: 1.4em;
                    /* Приближение из-за подстановки шрифтов */
                    text-align: center;
                    z-index: 3;
                    &:before {
                        content: "";
                        // background-image: url(../img/zpt_up.png);
                        @include sprite($zpt_up);
                        display: inline-block;
                        width: 30px;
                        height: 28px;
                        position: absolute;
                        left: -40px;
                        top: -10px;
                    }
                    &:after {
                        content: "";
                        // background-image: url(../img/zpt_bottom.png);
                        @include sprite($zpt_bottom);
                        display: inline-block;
                        position: absolute;
                        right: -40px;
                        bottom: -10px;
                    }
                }
            }
            .how_itwork {
                background-image: url(../img/how_it_worked.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 477px;
                background-repeat: repeat-y;
                h2 {
                    color: $whiteColor;
                    font-family: "Oswald";
                    font-size: 52.98px;
                    font-weight: 500;
                    line-height: 22px;
                    text-align: center;
                    text-shadow: 1px 2px 0px #0e0c0b;
                    padding: 35px 0 35px 0;
                    margin: 0;
                }
                .work_road {
                    color: $whiteColor;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: flex-start;
                    .work_road_item {
                        width: 200px;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        margin: 0 1em 0 1em;
                        position: relative;
                        &:after {
                            // background-image:url(../img/arr22.png);
                            @include sprite($arr22);
                            display: inline-block;
                            position: absolute;
                            content: "";
                            top: 60px;
                            right: -25px;
                        }
                        &:last-child {
                            &:after {
                                content: none;
                            }
                        }
                        // img{
                        //    width:139px;
                        //    height:139px;
                        // }
                        .tel_circle {
                            @include sprite($telcircle);
                        }
                        .Ellipse3copy3 {
                            @include sprite($ellipsethreecopythree);
                        }
                        .Ellipse3copy2 {
                            @include sprite($ellipsethreecopytwo);
                        }
                        .Ellipse3copy {
                            @include sprite($ellipsethreecopythree);
                        }
                        h3 {
                            font-family: $Oswald;
                            font-size: 24.88px;
                            /* Приближение из-за подстановки шрифтов */
                            font-weight: 500;
                            line-height: 22px;
                            /* Приближение из-за подстановки шрифтов */
                            text-align: center;
                            margin: 0.6em 0 0.4em 0;
                        }
                        .h3_separator {
                            background-image: url('../img/bottom_border_33.png');
                            width: 37px;
                            height: 3px;
                            display: inline-block;
                        }
                        p {
                            color: $whiteColor;
                            font-family: $robotoSlab;
                            font-size: 12.9px;
                            /* Приближение из-за подстановки шрифтов */
                            font-weight: 300;
                            line-height: 1.8em;
                            text-align: left;
                            opacity: 0.4;
                        }
                    }
                }
            }
            .porfolio {
                background-image: url('../img/portfolio_back.png');
                width: $mainWidt;
                height: 680px;
                position: relative;
                .header_img {
                    @include sprite($portfolio_header);
                    margin: 0 auto;
                }
                // a little bit swiper styles
                .swiper-container {
                    width: 858px;
                    height: auto !important;
                    margin-right: auto;
                    position: absolute;
                    top: 182px;
                    left: 50%;
                    margin-left: -434px;
                }
                .swiper-wrapper {
                    height: auto !important;
                }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: $yellowColor;
                    height: 200px;
                    border-radius: 3px;
                    /* Center slide text vertically */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .swiper-pagination {
                    position: absolute;
                    top: 93%;
                    left: 50%;
                    margin: 0 0 0 -35px;
                    span {
                        &.swiper-pagination-bullet {
                            @include sprite($pagination_tocher);
                            background-color: inherit;
                            transition: all ease .5s;
                        }
                        &.swiper-pagination-bullet-active {
                            @include sprite($pagination_tocher);
                            background-color: inherit;
                        }
                    }
                }
                .swiper-button-prev {
                    @include sprite($left_arr);
                    background-size: initial;
                    position: absolute;
                    top: 58%;
                    left: 11.4%;
                    transition: all ease .5s;
                }
                .swiper-button-next {
                    @include sprite($right_arr);
                    background-size: initial;
                    position: absolute;
                    top: 58%;
                    right: 12%;
                    transition: all ease .5s;
                }
            }
            .prices_slider {
                background-image: url('../img/price_back.png');
                background-repeat: no-repeat;
                height: 554px;
                position: relative;
                .h_separator {
                    display: block;
                    width: 500px;
                    height: 12px;
                    margin: 0.1em auto 1.5em auto;
                    background-image: none;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    &:before {
                        margin: 0 0.8em 0 0;
                        content: "";
                        width: 38px;
                        height: 2px;
                        // @include sprite($rectangle5);
                        display: block;
                        background-color: $whiteColor;
                    }
                    &:after {
                        margin: 0 0 0 0.8em;
                        content: "";
                        width: 38px;
                        height: 2px;
                        // @include sprite($rectangle5);
                        display: block;
                        background-color: $whiteColor;
                    }
                }
                .phone_more {
                    position: absolute;
                    top: 150px;
                    right: 150px;
                }
                .baloon_phone_info {
                    position: absolute;
                    top: 80px;
                    right: 125px;
                    font-family: Oswald;
                    color: $whiteColor;
                    font-size: 17.05px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 200;
                    line-height: 1.2em;
                    /* Приближение из-за подстановки шрифтов */
                    text-align: center;
                    border-radius: 50%;
                    background-color: $redColor;
                    width: 140px;
                    height: 139px;
                    z-index: 9;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                }
                h2 {
                    color: $whiteColor;
                    font-family: "Oswald";
                    font-size: 52.98px;
                    font-weight: 500;
                    line-height: 22px;
                    text-align: center;
                    text-shadow: 1px 2px 0px #0e0c0b;
                    padding: 35px 0 35px 0;
                    margin: 0;
                }
                .swiper_cube_conteiner {
                    width: 500px;
                    height: 500px;
                    position: absolute;
                    left: 50%;
                    top: 60%;
                    margin-left: -250px;
                    margin-top: -250px;
                    .swiper-wrapper {
                        .swiper-slide {
                            background-position: center;
                            background-size: cover;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
                            img {
                                width: 314px;
                                height: auto;
                            }
                            span {
                                font-family: $robotoSlab;
                                color: $whiteColor;
                                font-size: 14.28px;
                                /* Приближение из-за подстановки шрифтов */
                                font-weight: 300;
                                line-height: 1.4em;
                                /* Приближение из-за подстановки шрифтов */
                                text-align: center;
                                display: block;
                                margin: 3em 0 0 0;
                                width: 287px;
                            }
                        }
                    }
                }
                .swiper_cube-button-prev {
                    @include sprite($left_arr);
                    background-size: initial;
                    position: absolute;
                    top: 85%;
                    left: 26%;
                    transition: all ease .5s;
                    cursor: pointer;
                    &.swiper-button-disabled {
                        opacity: 0.35;
                        cursor: auto;
                        pointer-events: none;
                    }
                }
                .swiper_cube-button-next {
                    @include sprite($right_arr);
                    background-size: initial;
                    position: absolute;
                    top: 85%;
                    right: 26%;
                    transition: all ease .5s;
                    cursor: pointer;
                    &.swiper-button-disabled {
                        opacity: 0.35;
                        cursor: auto;
                        pointer-events: none;
                    }
                }
            }
            // main_wrapper
        }
        .phone_more {
            display: inline-block;
            width: 222px;
            font-size: 17.05px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 200;
            line-height: 1.4em;
            /* Приближение из-за подстановки шрифтов */
            text-align: center;
            z-index: 3;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            // img{
            //    width:75px;
            //    height:83px;
            // }
            .phone_png {
                @include sprite($phone);
            }
            a {
                font-size: 29px;
                font-weight: 400;
                line-height: 1em;
                text-align: center;
                color: $whiteColor;
                text-decoration: none;
                display: block;
                height: 16px;
                padding: 0.6em 0 0.1em 0;
            }
            p {}
        }
        .contacts {
            background-image: url(../img/ann2.png);
            background-repeat: no-repeat;
            height: 559px;
            position: relative;
            top: -2px;
            overflow: hidden;
            .contacts_gears {
                @include sprite($img_thing9);
                position: absolute;
                top: 0;
                left: 0 !important;
                width: 100%;
                z-index: 2;
                transform: translateZ(0);
                transition: all ease .2s;
            }
            .contacts_flowers {
                @include sprite($preferences_cog_gear);
                position: absolute;
                top: 0;
                left: 0 !important;
                width: 100%;
                z-index: 2;
                transform: translateZ(0);
                transition: all ease .2s;
            }
            h2 {
                font-family: $Oswald;
                color: $redColor;
                font-size: 52.98px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                line-height: 22px;
                /* Приближение из-за подстановки шрифтов */
                text-align: center;
                text-shadow: 1px 2px 0px #000000;
                margin: 0;
                display: inline-block;
                position: absolute;
                left: 222px;
                top: 41px;
            }
            .h_separator {
                position: absolute;
                left: 270px;
                top: 90px;
            }
            .cont_phone_num {
                position: absolute;
                top: 181px;
                left: 224px;
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                z-index: 999;
                .phone_png {
                    @include sprite($phone);
                }
                a {
                    font-family: $Oswald;
                    color: $whiteColor;
                    font-size: 48.15px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 700;
                    line-height: 91px;
                    /* Приближение из-за подстановки шрифтов */
                    text-align: center;
                    transform: scaleX(1.0014);
                    /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
                    text-decoration: none;
                }
            }
            form {
                position: absolute;
                left: 215px;
                top: 293px;
                z-index: 9999;
                width: 312px;
                .formTText {
                    outline: none;
                    border-radius: 2px;
                    background-color: $brownColor;
                    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
                    width: 312px;
                    height: 25px;
                    border: none;
                    font-family: $robotoSlab;
                    color: $blackColor;
                    font-size: 10.37px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    line-height: 22px;
                    /* Приближение из-за подстановки шрифтов */
                    text-align: left;
                    transform: scaleY(1.0016);
                    /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
                    margin: 0 0 0.8em 0;
                }
                textarea {
                    outline: none;
                    border-radius: 2px;
                    background-color: #9d8163;
                    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
                    width: 312px;
                    height: 107px;
                    max-width: 312px;
                    min-height: 107px;
                    border: none;
                    margin: 0 0 0.8em 0;
                    font-family: $robotoSlab;
                    color: $blackColor;
                    font-size: 10.37px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    line-height: 22px;
                    /* Приближение из-за подстановки шрифтов */
                    text-align: left;
                    transform: scaleY(1.0016);
                    /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
                }
                .form_button {
                    input[type="button"] {
                        outline: none;
                        border: none;
                        border-radius: 2px;
                        background-color: $redColor;
                        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
                        width: 92px;
                        height: 25px;
                    }
                    span {
                        font-family: $Oswald;
                        color: $whiteColor;
                        font-size: 13.91px;
                        /* Приближение из-за подстановки шрифтов */
                        font-weight: 400;
                        line-height: 22px;
                        /* Приближение из-за подстановки шрифтов */
                        text-align: center;
                        margin: 0 0 0 1em;
                    }
                }
            }
        }
        footer {
            background-image: url(../img/footer_back.png);
            height: 99px;
            position: relative;
            top: -4px;
            ul {
                position: relative;
                top: 30%;
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                list-style: none;
                li {
                    margin: 0 .3em 0 .3em;
                    padding: 0;
                    // outline: 1px dotted red;
                    opacity: .5;
                    transition: all ease .2s;
                    &:hover {
                        opacity: 1;
                    }
                    a {
                        &.twitter {
                            @include sprite($twitter);
                            display: block;
                        }
                        &.facebook {
                            display: block;
                            @include sprite($facebook);
                        }
                        &.googleplus {
                            display: block;
                            @include sprite($gplus);
                        }
                        &.pinterest {
                            display: block;
                            @include sprite($pinterest);
                        }
                        &.linkedin {
                            display: block;
                            @include sprite($linkedin);
                        }
                    }
                }
            }
        }
        .elevator-button{
            position:fixed;
            right:25px;
            bottom:25px;
            @include sprite($scrollup);
            cursor:pointer;
            z-index: 99999999;
        }
        // body
    }
    // html   
}

// example sprites 
// @include sprite($twitter);
