// Google Fonts
// opensans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700&subset=latin,cyrillic');
$openSans:'Open Sans', sans-serif;

// RobotoSlab
@import url('http://webfonts.ru/import/robotoslab.css');
$robotoSlab: 'Roboto Slab';

// webfonts
@import url("http://webfonts.ru/import/oswald.css");
$Oswald: 'Oswald';