<!DOCTYPE html/>
html(lang="en")
	head
		//bower:css
		link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
		link(rel='stylesheet', href='bower_components/Swiper/dist/css/swiper.css')
		//endbower
		link(rel='stylesheet', href='bower_components/fancybox/source/jquery.fancybox.css')
		link(rel="stylesheet", href="css/main.css")
		meta(charset="UTF-8")
		title Стимпанк и флоральная аэрография
	body
		.main_wrapper
			.header_block
				a(href="#")
					img(src="img/logo.png", alt="logo").main_logo
				ul.top_menu
					li
						a(href="#aboutMe")  Обо мне
					li
						a(href="#myPortfolio")  Портфолио
					li
						a(href="#myContacts")  Контакты
					li
						a(href="#myPrice")  Цены
			.site_name
				.gearsnroses
				.lenta
			.main_info#aboutMe
				.flowers_for_ann2_back(data-stellar-ratio="0.7")
				.ann2_back(data-stellar-ratio="0.8")
				p.anotation Привет, меня зовут Анна! Если вам нравится мой стиль и вы хотите украсить свой дом или машину моими авторскими работами, пишите и мы вместе создадим что-нибудь прекрасное!
				.phone_more
					//- img(src="img/phone.png", alt="phone")
					.phone_png
					a(href="tel:+79213324455") +7(921)332 44 55
					p Звоните прямо сейчас и получите в подарок дополнительный эскиз
			.how_itwork
				h2 Как все работает?
				span.h_separator
				.work_road
					.work_road_item
						//- img(src="img/tel_circle.png", alt="")
						.tel_circle
						h3 звонок
						span.h3_separator
						p Позвоните прямо сейчас. Я отвечу на любые вопросы и мы предворительно обсудим предстоящий проект. Для более подробной беседы мы назначим личную встречу.
					.work_road_item
						//- img(src="img/Ellipse 3 copy3.png", alt="")
						.Ellipse3copy3
						h3 встреча
						span.h3_separator
						p На встрече мы проговорим подробнее наш проект, вместе порисуем эскизы, посмотрим и обсудим аналоги и окончательно утвердим сроки и цены.
					.work_road_item
						//- img(src="img/Ellipse 3 copy2.png", alt="")
						.Ellipse3copy2
						h3 эскизы
						span.h3_separator
						p Я предложу вам несколько эскизов на выбор. Вы сможете выбрать тот эскиз, который вам больше всего  приглянется.
					.work_road_item
						//- img(src="img/Ellipse 3 copy.png", alt="")
						.Ellipse3copy
						h3 красота
						span.h3_separator
						p На основе выбранного эскиза, я создам рисунок, который украсит ваш интерьер или вашу машину и будет радовать вас многие годы.
			.porfolio#myPortfolio
				.header_img
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a(href="img/fgsDs8mtOJ4.jpg").fancybox
								img(src="img/fgsDs8mtOJ4.jpg", alt="")
						.swiper-slide
							a(href="img/Ljt6r-QRz4c.jpg").fancybox
								img(src="img/Ljt6r-QRz4c.jpg", alt="")
						.swiper-slide
							a(href="img/R4uNoNPa3LI.jpg").fancybox
								img(src="img/R4uNoNPa3LI.jpg", alt="")
						.swiper-slide
							a(href="img/tUlZJlXoQtM.jpg").fancybox
								img(src="img/tUlZJlXoQtM.jpg", alt="")
						.swiper-slide
							a(href="img/VnUn3yE5G-s.jpg").fancybox
								img(src="img/VnUn3yE5G-s.jpg", alt="")
						.swiper-slide
							a(href="img/wfem9BughIg.jpg").fancybox
								img(src="img/wfem9BughIg.jpg", alt="")
						.swiper-slide
							a(href="img/xg0Fq6dqpMo.jpg").fancybox
								img(src="img/xg0Fq6dqpMo.jpg", alt="")
						.swiper-slide
							a(href="img/AECd45Y6Tl0.png").fancybox
								img(src="img/AECd45Y6Tl0.png", alt="")
						.swiper-slide
							a(href="img/fgsDs8mtOJ4.jpg").fancybox
								img(src="img/fgsDs8mtOJ4.jpg", alt="")
						.swiper-slide
							a(href="img/Ljt6r-QRz4c.jpg").fancybox
								img(src="img/Ljt6r-QRz4c.jpg", alt="")
						.swiper-slide
							a(href="img/R4uNoNPa3LI.jpg").fancybox
								img(src="img/R4uNoNPa3LI.jpg", alt="")
						.swiper-slide
							a(href="img/tUlZJlXoQtM.jpg").fancybox
								img(src="img/tUlZJlXoQtM.jpg", alt="")
						.swiper-slide
							a(href="img/VnUn3yE5G-s.jpg").fancybox
								img(src="img/VnUn3yE5G-s.jpg", alt="")
						.swiper-slide
							a(href="img/wfem9BughIg.jpg").fancybox
								img(src="img/wfem9BughIg.jpg", alt="")
						.swiper-slide
							a(href="img/xg0Fq6dqpMo.jpg").fancybox
								img(src="img/xg0Fq6dqpMo.jpg", alt="")
						.swiper-slide
							a(href="img/AECd45Y6Tl0.png").fancybox
								img(src="img/AECd45Y6Tl0.png", alt="")
						.swiper-slide
							a(href="img/fgsDs8mtOJ4.jpg").fancybox
								img(src="img/fgsDs8mtOJ4.jpg", alt="")
						.swiper-slide
							a(href="img/Ljt6r-QRz4c.jpg").fancybox
								img(src="img/Ljt6r-QRz4c.jpg", alt="")
						.swiper-slide
							a(href="img/R4uNoNPa3LI.jpg").fancybox
								img(src="img/R4uNoNPa3LI.jpg", alt="")
						.swiper-slide
							a(href="img/tUlZJlXoQtM.jpg").fancybox
								img(src="img/tUlZJlXoQtM.jpg", alt="")
						.swiper-slide
							a(href="img/VnUn3yE5G-s.jpg").fancybox
								img(src="img/VnUn3yE5G-s.jpg", alt="")
						.swiper-slide
							a(href="img/wfem9BughIg.jpg").fancybox
								img(src="img/wfem9BughIg.jpg", alt="")
						.swiper-slide
							a(href="img/xg0Fq6dqpMo.jpg").fancybox
								img(src="img/xg0Fq6dqpMo.jpg", alt="")
						.swiper-slide
							a(href="img/AECd45Y6Tl0.png").fancybox
								img(src="img/AECd45Y6Tl0.png", alt="")
				
						
				.swiper-pagination
				.swiper-button-prev
				.swiper-button-next

			.prices_slider#myPrice
				h2 Сколько стоит?
				span.h_separator Внимание! все цены указаны приблизительно!
				.swiper_cube_conteiner
					//- .swiper_wrapper_cube
					.swiper-wrapper
						.swiper-slide
							img(src="img/velo.png", alt="1111")
							span Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р
						.swiper-slide
							img(src="img/auto.png", alt="2222")
							span Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р
						.swiper-slide
							img(src="img/tutu.png", alt="3333")
							span Небольша картинка размером около а4 со стандартной детализацией. примерно 3000р
					//- .swiper-pagination
								.swiper-button-prev
				.swiper_cube-button-next
				.swiper_cube-button-prev
				.phone_more
					//- img(src="img/phone.png", alt="phone")
					.phone_png
					a(href="tel:+79213324455") +7(921)332 44 55
				.baloon_phone_info 
					|Дополнительный <br/> 
					|эскиз в подарок! <br/>
					|Звоните <br/>
					|прямо сейчас!
			.contacts#myContacts
				.contacts_gears
				.contacts_flowers
				h2 Контакты
				span.h_separator
				.cont_phone_num
					.phone_png
					a(href="tel:+79213324455") +7(921)332 44 55
				form(action="#")
					input(type="text",placeholder="Ваше Имя",required="required").formTText
					input(type="email",placeholder="Ваш E-mail",required="required").formTText
					textarea(placeholder="Ваше сообщение")
					.form_button
						input(type="button",value="Отправить")
						span Буду рада ответить на любые вопросы
			footer
				ul
					li
						a(href="").twitter
					li
						a(href="").facebook
					li
						a(href="").googleplus
					li
						a(href="").pinterest
					li
						a(href="").linkedin
		.elevator-button


		// bower:js
		script(src='bower_components/jquery/dist/jquery.js')
		script(src='bower_components/jquery.stellar/jquery.stellar.js')
		script(src='bower_components/Swiper/dist/js/swiper.js')
		// endbower
		script(src='bower_components/fancybox/source/jquery.fancybox.pack.js')

		script(src='js/custom_plgns.min.js')
		script(src='js/main.min.js')